@import "fonts.css";
/* Font options
AlegreyaSans-Light
AlegreyaSans-BlackItalic
AlegreyaSans-MediumItalic
AlegreyaSans-Black
AlegreyaSans-LightItalic
AlegreyaSans-ExtraBold
AlegreyaSans-Medium
AlegreyaSans-Italic
AlegreyaSans-Bold
AlegreyaSans-BoldItalic
AlegreyaSans-ExtraBoldItalic
AlegreyaSans-Thin
AlegreyaSans-ThinItalic
AlegreyaSans-Regular
Lato-Thin
Lato-LightItalic
Lato-Light
Lato-ThinItalic
Lato-Bold
Lato-BoldItalic
Lato-BlackItalic
Lato-Regular
Lato-Black
Lato-Italic
loew-mediumitalic
loew-italic
loew-blackitalic
loew-medium
loew-extrabold
loew-extrabolditalic
loew-light
loew-black
loew-bolditalic
loew-lightitalic
loew-heavy
loew-heavyitalic
loew-thinitalic
loew-thin
loew-regular
loew-bold
*/
body {
  font-family: Lato-Light;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #35424a;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header **/
header {
  background: #ffffff;
  color: #ffffff;
  min-height: 70px;
  border-bottom: #26173c 3px solid;
}

header a {
  color: #35424a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header #branding {
  float: left;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #00bbdb;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
}

/* Showcase */
#showcase {
  min-height: 400px;
  color: #ffffff;
}

iframe,
#showcase {
  min-height: 600px;
}

iframe,
.container {
  width: 100%;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* Boxes */

.box {
  float: left;
  text-align: center;
  margin-left: 4%;
  width: 15%;
  padding: 5px;
}

#img-animate-left{
  border-radius: 50%;
  width: 15%;
  float: left;
  margin-left: 5%;
}

.animbox {
  width: 80%;
  margin-left: 10%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size:1.5vw;
  line-height: 1.5;
}

#img-animate-right{
  border-radius: 50%;
  width: 15%;
  float: left;
  margin-right: 5%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #35424a;
  color: #fff;
}

.social-media-links {
  display: flex;
}

.social-media-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5rem;
}

.social-media-links a:hover {
  color: #ddd;
}

.copyright {
  flex: 0 0 auto;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px) {

  header #branding,
  header nav,
  header nav li,
  footer h1,
  footer form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  footer button,
  .quote button {
    display: block;
    width: 100%;
  }

  footer form input[type="email"],
  .quote input,
  .quote textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}