/* Set default font and box-sizing */
* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

/* Style the navigation bar */

body {
  color: white;
  background-image: linear-gradient(-90deg, #558a84, #71b9b1, #558a84),
    linear-gradient(0deg, white, black, black);
  background-blend-mode: screen;
}

nav {
  /*background-color: #71b9b1;*/
  background-image: linear-gradient(-90deg, #558a84, #71b9b1, #558a84);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Geologica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  margin-bottom: 5px;
}

nav img {
  height: 125px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  /*background-image: linear-gradient(-90deg, #71b9b1, #558a84);*/
}

.support-link {
  display: flex;
  padding: 15px;
  max-width: none;
  background-color: #381c50;
  align-items: center;
  border-radius: 100px;
  transition: 0.3s;
}

.support-link a {
  text-decoration: none;
  text-align: center;
  font-family: Geologica, sans-serif;
}

.support-link:hover {
  background-color: #231333;
}
.support-link:hover a {
  color: #c2c2c2;
}

.nav-buttons {
  display: flex;
  list-style: none;
  align-items: center;
  height: 125px;
  padding-right: 20px;
  /*background-image: linear-gradient(90deg, #71b9b1, #558a84);*/
}

.nav-buttons li {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 100px;
  transition: 0.3s;
}

.nav-buttons a {
  text-decoration: none;
  text-align: center;
  font-family: Geologica, sans-serif;
}

.nav-buttons li:hover {
  background-color: #381c50;
}

/* Style the map section */

.hero-text p {
  color: #231333;
  font-family: Geologica, sans-serif;
}

.hero-container {
  position: relative;
  text-align: left;
  color: white;
  width: 100%;
}

.hero-text {
  position: absolute;
  font-family: Geologica, sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 75%;
}

.hero-text h1 {
  font-size: 60px;
  padding-bottom: 15px;
  font-family: Geologica, sans-serif;
}

.hero-text p {
  font-size: 20px;
  font-weight: 300;
  color: white;
  padding-bottom: 20px;
}

.map {
  filter: brightness(40%);
  background-size: cover;
  width: 100%;
  max-height: 600px;
  padding: none;
  margin: -5px;
  position: relative;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.img-div {
  padding: 0;
}

.hero-btn {
  background-color: #558a84;
  padding: 15px;
  border-radius: 100px;
  width: 200px;
  margin: auto;
  text-align: center;
  transition: 0.3s;
}

.hero-btn:hover {
  scale: 110%;
}

.hero-btn a {
  text-transform: uppercase !important;
  font-family: Geologica, sans-serif;
  font-size: 25px;
  text-decoration: none;
}

/* Style the boxes section */
.boxes {
  display: flex;
  justify-content: center;
  max-width: 2000px;
  max-height: 2000px;
  margin: 0 auto;
  padding: 20px;
}

.box {
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
  height: 200px;
  font-family: Geologica, sans-serif;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.box h2 {
  margin-top: 0;
  font-family: inherit;
}

.box p {
  margin-top: 15px;
  font-family: inherit;
}

.teal {
  background-image: linear-gradient(175deg, #71b9b1, #548a83);
  flex-basis: 30%;
  opacity: 90%;
}

.yellow {
  background-image: linear-gradient(175deg, #ffe4a8, #b8a378);

  flex-basis: 30%;
  position: relative;
}

.yellow h2 {
  color: #231333;
}

.yellow p {
  color: #231333;
}

.search {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.search input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.view-map-btn,
.view-km-btn {
  font-family: Geologica, sans-serif;
  display: block;
  background-color: teal;
  text-align: center;
  padding: 5px 10px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 14px;
  margin: 5px;
  transition: 0.03s;
}

.view-km-btn:hover,
.view-map-btn:hover {
  scale: 110%;
}

.purple {
  background-image: linear-gradient(175deg, #7b6e86, #695a77);
  flex-basis: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.game-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Geoligica, sans-serif;
  font-size: 20px;
  display: block;
  background-color: teal;
  text-align: center;
  padding: 5px 10px;
  border-radius: 100px;
  text-decoration: none;
  margin: 15px;
  transition: 0.03s;
  color: #ffe4a8;
  transition: 0.3s;
}

.game-btn:hover {
  scale: 105%;
}

/* page styles start here*/

/* spatial explorer*/

.spatial-explorer {
  display: flex;
  margin: 50px;
  height: 100vw;
  border-style: dashed;
  border-width: 1px;
  border-color: #231333;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spatial-explorer p {
  margin: auto;
  margin-top: 150px;
  font-size: 50px;
  color: #231333;
}

/*about us*/

.overview-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 5px;
  background-image: linear-gradient(#ffe4a8, #bba77c);
  margin: 50px;
  padding: 25px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.overview-div div {
  margin: auto;
}

.video-div {
  position: relative;
  filter: brightness(75%);
  transition: 0.5s;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.video-div:hover {
  filter: brightness(100%);
}

.intro-video {
  width: 100%;
  margin: auto;
  transition: 1s;
  border-radius: 5px;
}

.intro-text {
  padding: 50px 50px 100px 100px;
  font-family: Geologica, sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #231333;
}

.video-btn {
  position: absolute;
  display: block;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.graphic {
  margin: 50px;
  height: 100vw;
  border-style: dashed;
  border-width: 1px;
  border-color: #231333;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphic p {
  color: #231333;
}

.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-section h2 {
  font-family: Geologica, sans-serif;
  font-size: xxx-large;
  color: #231333;
}

.team-section ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin: 50px;
}

.team-member-card {
  display: flex;
  border-radius: 10px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  font-family: Geologica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-style: dashed;
  border-width: 1px;
  height: 100%;
  width: 100%;
  border-color: #231333;
}

.team-member-card img {
  width: 50%;
  border-radius: 1000px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.team-member-card p {
  color: #231333;
}

/*Contact*/

.contact-section {
  height: 100vw;
}

.contact-section ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin: 50px 15%;
}

.contact {
  display: flex;
  border-radius: 10px;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  font-family: Geologica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  /*border-style: dashed;*/
  border-width: 1px;
  height: 100%;
  width: 100%;
  /*border-color: #231333;*/
  text-transform: capitalize;
  background-image: linear-gradient(#74c7c0, #a0d8d3);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.contact-section i {
  font-size: 100px;
  margin-bottom: 20px;
  color: #231333;
}

.contact-section h3 {
  color: #231333;
}

.contact-section p {
  color: #231333;
}
