/* Set default font and box-sizing */
* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* Style the navigation bar */
nav {
  background-color: #71B9B1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
nav img {
  height: 100px;
  margin-left: 20px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  margin: 0 20px;
}
nav a {
  color: white;
  text-decoration: none;
}

/* Style the map section */
.map {
  background-image: linear-gradient(rgba(80, 80, 80, 0.5), rgba(80, 80, 80, 0.5)), url("map.png");;
  background-size: cover;
  position: relative;
  height: 500px;
  fill-opacity: 20;
}


.map::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
  }
.map h1, .map p {
  color: white;
  text-align: center;
}
.map h1 {
  padding-top: 120px;
  margin-top: 50px;
}
.map p {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 50px;
}
.map .explore-btn {
  display: block;
  background-color: #71B9B1;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  text-decoration: none;
  width: 150px;
}

/* Style the boxes section */
.boxes {
  display: flex;
  justify-content: space-between;
  max-width: 2000px;
  max-height: 2000px;
  margin: 0 auto;
  margin-top: 50px;
}
.box {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.teal {
  background-color: #71B9B1;
  flex-basis: 30%;
}
.teal h2 {
  margin-top: 0;
}
.yellow {
  background-color: #FFE4A8;
  color: black;
  flex-basis: 30%;
  position: relative;
}
.yellow h2 {
  margin-top: 0;
}
.search {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.search input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.view-map-btn, .view-km-btn {
  display: block;
  background-color: teal;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}
.purple {
  background-color: #7B6E86;
  flex-basis: 30%;
}
.purple h2 {
  margin-top: 0;