:root {
  --clr-dark: #381c50;
  --clr-light: #ffe4a8;
  --clr-teal: #71b9b1;
  --font-primary: "Libre Franklin", sans-serif;
  --font-secondary: "Libre Baskerville", serif;
  --font-quotes: "Libre Franklin", sans-serif;

  --fs-xxl: clamp(2.5rem, 8vw, 7rem);
  --fs-xl: clamp(2rem, 4.25vw, 4rem);
  --fs-700: clamp(1rem, 2vw, 1.75rem);
  --fs-600: clamp(0.75rem, 1.6vw, 1.5rem);
  --fs-500: clamp(0.7rem, 1.6vw, 1.25rem);
  --fs-400: clamp(0.6rem, 1.5vw, 1rem);
}
/* Set default font and box-sizing */
* {
  font-family: "Libre Baskerville", sans-serif;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: var(--clr-light);
}

body {
  box-sizing: border-box;
  margin: 0;
}

h3 {
  font-family: var(--font-primary);
}

em {
  font-family: inherit;
  font-style: oblique;
  font-weight: 900;
  color: inherit;
}

section {
  display: flex;
  /* margin-bottom: 150px; */
  flex-direction: column;
}

.backgrounded {
  /* background-color: rgba(255, 228, 168, 0.5); */
  background-blend-mode: difference;
  background-color: var(--clr-teal);
}

.overview-div {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

section h1 {
  flex: 1;
  /* margin: auto; */
  font-size: 3rem;
  color: var(--clr-dark);
}

.section-intro h1 {
  margin-bottom: 2rem;
}

.main-title {
  margin: auto;
  margin-bottom: 2rem;
  background-image: url(../images/mountain.png);
  background-position: center;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-xxl);
  color: var(--clr-light);
}
.main-title h1 {
  font-size: inherit;
  color: inherit;
}

.start img {
  margin-inline: auto;
  max-width: 50vw;
}

.browse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  /* gap: 1rem; */
  /* height: 5000px; */
  max-width: 90vw;
  padding-block: 2rem;
  margin: auto;
  position: relative;
}

.browse div {
  /* width: 50vw; */
  display: flex;
  justify-content: space-around;
}

.description {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  flex: 1;
}

.sticky-section {
  padding-block: 3rem;
  max-width: 80vw;
  margin-inline: auto;
}

.sticky-section h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.section-intro {
  margin-inline: auto;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  /* margin-block: 4rem; */
  /* margin-bottom: -1rem; */
}

.section-intro p {
  font-family: var(--font-primary);
  font-size: var(--fs-500);
}

.img-div {
  position: sticky;
  top: 25vh;
  margin-inline: auto;
  justify-content: center;
  flex: 1.25;
  flex-direction: column;
  max-width: 100%;
}

#basemap {
  flex: 1.6;
}

.description p {
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-inline: 2rem;
  color: var(--clr-dark);
  font-size: var(--fs-500);
  font-family: var(--font-primary);
}

.img-div img {
  max-width: 90%;
  width: auto;
  height: auto;
  margin-inline: auto;
}

.vid-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.75rem;
}

.search {
  max-width: 90%;
}

.fa-arrow-down {
  font-size: var(--fs-xxl);
  color: var(--clr-dark);
}

.overlay-div {
  height: 100%;
  width: 100%;
  position: absolute;
}

.overlay {
  border-radius: 3px;
  position: absolute;
}

#selection {
  z-index: 1000;
}

#has-geography {
  height: 15.5%;
  width: 27.5%;
  top: 53%;
  left: 58.5%;
  background-color: var(--clr-teal);
  opacity: 50%;
}

.nodes {
  display: flex;
  flex-direction: row;
  max-width: 95%;
  justify-items: space-around;
  align-items: flex-end;
  gap: 2rem;
  margin-inline: auto;
}

.nodes div {
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
}

.nodes div img {
  width: 100%;
  height: auto;
}
.caption {
  font-family: var(--font-secondary);
  color: #999999;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.ov-hidden {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: all 0.5s ease-in;
}

.ov-show {
  transform: translate(0, 0);
  transition: all 0.5s ease-in;
}

.frosted-glass {
  width: 90%;
  margin-inline: auto;
}

@media (max-width: 600px) {
  .browse {
    flex-direction: column;
    position: relative;
    align-content: center;
    justify-content: start;
    padding-block: none;
  }

  .sticky-section {
    max-width: 100vw;
    margin-top: none;
    margin-bottom: none;
    padding: none;
  }

  .section-intro p {
    max-width: 100%;
    margin: auto;
  }

  .img-vid-div {
    /* left: 40; */
    display: flex;
    flex-direction: column;
  }

  .img-div {
    /* left: 40; */
    max-width: 100vw;
    margin-inline: auto;
  }

  .img-div img {
    /* max-width: 100%; */
    max-width: 100%;
    left: 0;
    margin: 0;
  }

  .frosted-glass {
    margin: none;
    width: 100vw;
  }
  .overview-div {
    margin-bottom: -1.5rem;
    padding-bottom: none;
  }

  .img-div {
    top: 15vh;
    margin-bottom: 20vh;
  }

  .description p {
    margin-top: 25vh;
    margin-bottom: 5vh;
    max-width: 70%;
  }

  .leon {
    margin-top: -51vh;
  }

  #has-geography {
    height: 15.5%;
    width: 30.5%;
    top: 53%;
    left: 59.5%;
    background-color: var(--clr-teal);
    opacity: 50%;
  }
}
