:root {
  --clr-dark: #381c50;
  --clr-light: #ffe4a8;
  --clr-teal: #71b9b1;
  --font-primary: "Libre Franklin", sans-serif;
  --font-secondary: "Libre Baskerville", serif;
  --font-quotes: "Libre Franklin", sans-serif;

  --fs-xxl: clamp(2.5rem, 8vw, 7rem);
  --fs-xl: clamp(1rem, 4vw, 4rem);
  --fs-700: clamp(1rem, 2vw, 1.75rem);
  --fs-600: clamp(0.75rem, 1.6vw, 1.5rem);
  --fs-500: clamp(0.6rem, 1.5vw, 1.25rem);
  --fs-400: clamp(0.6rem, 1.5vw, 1rem);

  --button-height: 4rem;
}

h1 {
  color: var(--clr-dark);
  font-size: var(--fs-600);
}

p {
  margin: 1rem;
  font-size: var(--fs-400);
  font-family: var(--font-primary);
}

.intro {
  background-color: var(--clr-light);
  border-radius: 1.5rem;
  border-color: var(--clr-dark);
  border-width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
  max-width: 50vw;
  margin: auto;
  margin-top: -2rem;
  position: relative;
  z-index: 100;
}

.intro h1 {
  font-size: var(--fs-xl);
  margin: 1rem;
  margin-top: 2rem;
  font-family: var(--font-quotes);
}

.intro p {
  font-size: var(--fs-500);
  max-width: 50vw;
  margin: 2rem;
}

.frosted-glass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 90vw;
  margin: auto;
  margin-top: -1rem;
  /* z-index: -1; */
  position: relative;
}

.src {
  margin: auto;
}
.structured-data img {
  max-height: 30rem;
  max-width: 30rem;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 1rem;
  border-radius: 10px;
}

sup {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  font-family: var(--font-primary);
  /* opacity: 60%; */
  border-radius: 5px;
}

sup a {
  color: inherit;
  margin: 0.25rem;
}

sup a:hover {
  text-decoration: none;
}

.search-demo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  height: fit-content;
  min-height: 80vh;
  max-width: 80vw;
  width: fit-content;
  margin-inline: auto;
  margin-top: -3rem;
}

.search-column {
  height: 90%;
  width: 90%;

  margin: 3rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.structured-data {
  display: none;
  align-items: start;
  flex-direction: column;
  margin-left: 3rem;
  border-radius: 10px;
  border: 1px solid var(--clr-dark);
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.structured-data p {
  margin-left: 1rem;
}

.meta {
  flex: 1;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.info {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.info h1 {
  margin-top: 7rem;
}

.search-div {
  margin: 2rem;
  pointer-events: none;
}

.search-div input {
  width: clamp(5rem, 30vw, 37rem);
  max-width: 100%;
  margin-left: 1rem;
}

.cite-link {
  font-family: var(--font-primary);
  background-color: var(--clr-light);
  border-radius: 5px;
  color: var(--clr-dark);
  padding: 0.25rem;
  border-color: var(--clr-dark);
}

.cite-link:hover {
  font-weight: 500;
  border-color: var(--clr-dark);
  border-width: 2px;
}

.interest-item {
  background-color: var(--clr-teal);
  color: var(--clr-dark);
  font-weight: 600;
  font-family: var(--font-primary);
  padding: 0.25rem;
  border-radius: 5px;
  transition: 0.05s ease-in-out;
  font-size: inherit;
}

.interest-item:hover {
  scale: 102%;
}

.show {
  display: flex;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
}

.list p {
  flex: 1;
  margin: 0.25rem;
  margin-left: 1rem;
}

.list ul {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin: 0;
}

li {
  font-family: var(--font-primary);
}

.biblio {
  max-width: 80%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.biblio a {
  font-family: var(--font-primary);
  color: var(--clr-dark);
}

.biblio h1 {
  margin: auto;
}

.bottom {
  margin-top: -3rem;
}

.bottom a {
  background-color: var(--clr-teal);
  color: var(--clr-dark);
  font-weight: 600;
  font-family: var(--font-primary);
  padding: 0.1rem;
  border-radius: 5px;
  transition: 0.05s ease-in-out;
  font-size: inherit;
}

.body-link {
  margin-bottom: 2rem;
}

.body-link a {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  padding: 1rem;
}

@media (max-width: 955px) {
  .search-demo {
    flex-direction: column;
    margin: none;
  }

  .structured-data {
    margin: auto;
    padding: none;
  }

  .structured-data img {
    margin: none;
  }
  .frosted-glass {
    padding: none;
    margin: none;
  }

  .meta {
    margin: none;
  }
  .search-column {
    margin: auto;
    margin-top: 2rem;
  }

  .search-div input {
    width: clamp(5rem, 60vw, 37rem);
    max-width: 100%;
    margin: auto;
  }

  .info {
    margin-top: 0;
  }

  .structured-data {
    height: 50vh;
    overflow: scroll;
  }

  .structured-data img {
    max-width: fit-content;
    height: auto;
  }
}
