:root {
  --clr-dark: #381c50;
  --clr-light: #ffe4a8;
  --clr-teal: #71b9b1;
  --font-primary: "Libre Franklin", sans-serif;
  --font-secondary: "Libre Baskerville" serif;
  --font-quotes: "Libre Franklin", sans-serif;

/* Set default font and box-sizing */
* {
  font-family: "Libre Baskerville", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--clr-light);
}

h1 {
  font-family: var(--font-primary);
}

h3 {
  font-family: var(--font-primary);
}

em {
  font-family: inherit;
  font-style: oblique;
  font-weight: 900;
  color: inherit;
}

/* Style the navigation bar */

body {
  color: white;
  background-image: linear-gradient(
      rgba(85, 138, 132, 1),
      rgb(113, 185, 177, 1),
      rgba(85, 138, 132, 1)
    ),
    url(../images/86343.jpg),
    radial-gradient(rgba(255, 255, 255, 1), rgb(204, 204, 204));
  background-size: 100%;

  background-blend-mode: color-burn;
}

nav {
  /* background-color: var(--clr-light); */
  /* background-image: linear-gradient(-90deg, #558a84, #71b9b1, #558a84); */

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  /* font-size: 20px; */
  color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  /* margin-bottom: 5px; */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}

nav.scroll {
  background-color: var(--clr-light);
  opacity: 0.98;
}

.logo,
.logo-small {
  height: 100px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 100;
  /*background-image: linear-gradient(-90deg, #71b9b1, #558a84);*/
}

.logo-small {
  display: none;
}

.checkbtn {
  font-size: 50px;
  color: var(--clr-light);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.support-link {
  display: flex;
  align-items: center;
  margin-left: 50px;
  position: relative;
  z-index: 100;
  font-size: 1.1rem;
}

.support-link a {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 80px;
  transition: 0.1s;
  /* transition: color 0.4s ease-in-out; */
  font-family: var(--font-primary);
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
  color: var(--clr-light);
  text-transform: uppercase;
  background-color: var(--clr-dark);
  border-radius: 5px;
}

.support-link a:hover {
  background-color: var(--clr-light);
  scale: 102%;
}
.support-link:hover a {
  color: var(--clr-dark);
  text-decoration: none;
}

.nav-left {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  padding-right: 20px;
  position: relative;
}
.nav-buttons {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  padding-right: 20px;
  position: relative;
}

.nav-buttons li a {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 100px;
  transition: 0.1s ease-in-out;
  /* transition: color 0.4s ease-in-out; */
  font-family: var(--font-primary);
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
  color: var(--clr-light);
  text-transform: uppercase;
}

.nav-buttons li a:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  scale: 95%;
  border-radius: 5px;
  text-decoration: none;
}

nav.scroll ul li a:hover {
  color: var(--clr-light);
}

nav.scroll li a {
  color: var(--clr-dark);
}

@media (max-width: 1230px) {
  nav img {
    /* font-size: 30px; */
    padding-left: 20px;
  }
  nav {
    /* font-size: 16px; */
    align-items: center;
  }
  .support-link {
    max-width: 150px;
  }
}

@media (max-width: 955px) {
  .checkbtn {
    display: flex;
    align-items: center;
    height: 100px;
    color: var(--clr-light);
  }
  .checkbtn i {
    color: var(--clr-light);
    background: none;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkbtn i:hover {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    scale: 110%;
  }
  nav {
    width: 100%;
    align-items: center;
  }
  .nav-buttons {
    position: fixed;
    top: 160px;
    left: -1800px;
    width: 100%;
    height: 100vw;
    background-color: var(--clr-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    transition: all 0.5s;
    padding-top: 50px;
  }

  .support-link {
    position: fixed;
    top: -100px;
    max-width: none;
    display: flex;
    justify-content: center;
    /* font-size: 30px; */
    right: 0;
    left: 0;
  }
  .nav-buttons li {
    padding: none;
  }
  .nav-buttons li a {
    /* font-size: 30px; */
    padding: none;
  }
  #check:checked ~ .nav-buttons {
    left: 0;
  }
  #check:checked ~ .checkbtn i {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    scale: 110%;
  }
  #check:checked ~ .support-link {
    top: 120px;
  }
}

/* Style the hero section */
.hero-container {
  background-color: var(--clr-light);
  position: relative;
  text-align: left;
  color: white;
  max-width: 100%;
  max-height: 100vh;
  padding-bottom: 10px;
  margin-top: -105px;
  overflow: hidden;
}

.hero-container-b {
  background-color: var(--clr-light);
  position: relative;
  text-align: left;
  color: white;
  max-width: 100%;
  padding-bottom: 10px;
  z-index: 99;
  margin-top: -110px;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 75%;
  color: var(--clr-light);
}

.accent {
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-style: bold;
  color: var(--clr-light);
  /* color: #71b9b1; */
}

.hero-text-b {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: flex;
  transform: translate(-40%, -40%);
  width: 75%;
  color: var(--clr-light);
}

.hero-text h1 {
  font-size: 100px;
  /* padding-bottom: 10px; */
  color: inherit;
}

.hero-copy {
  font-size: 25px;
  font-weight: 300;
  margin-left: 5px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: var(--clr-light);
}

.rotating-domains {
  display: flex;
  flex-direction: column;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  margin-bottom: 5px;
}

.domain {
  font-family: "Libre Franklin", serif;
  font-size: 29px;
  position: relative;
  animation: animation 9s ease infinite;
  font-weight: 600;
}

@keyframes animation {
  0%,
  100% {
    top: 0;
    width: 139px;
  }
  28% {
    top: 0;
    width: 139px;
  }
  33% {
    top: -50px;
    width: 160px;
  }
  61% {
    top: -50px;
    width: 160px;
  }
  66% {
    top: -100px;
    width: 135px;
  }
  94% {
    top: -100px;
    width: 135px;
    /* }
  75% {
    top: -150px;
    width: 200px;
  }
  95% {
    top: -150px;
    width: 200px;*/
  }
}

.hero-vid {
  filter: brightness(70%) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  background-size: cover;
  width: 100%;
  padding: none;
  margin-top: -5px;
  position: relative;
  margin-top: -110px;
}

.hero-img {
  filter: brightness(60%) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  width: 100%;
  padding: none;
  margin-top: -5px;
  position: relative;
  margin-top: -110px;
  max-width: 100%;
  max-height: auto;

  /* transform: translate(0, 5%); */
}

.img-div {
  padding: 0;
}

.img-div-b {
  max-height: 600px;
  width: 100%;
  overflow: hidden;
  margin-top: -115px;
}

.button-div {
  display: flex;
}

.hero-btn {
  border-width: 1px;
  margin-left: 23px;
  margin-right: 25px;
  padding: 10px;
  border-color: var(--clr-light);
  border-style: solid;
  border-radius: 5px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  scale: 110%;
  text-decoration: none;
}

.hero-btn a {
  font-family: var(--font-primary);
  text-transform: uppercase !important;
  font-size: 25px;
  text-decoration: none;
  color: var(--clr-light);
}

.hero-btn:hover {
  scale: 120%;
}

.hero-btn a:hover {
  text-decoration: none;
}

@keyframes bounce {
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Style the content section */

.flex-grid {
  display: flex;
  flex-direction: column;
}
.frosted-glass {
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 25px;
  
  /* height: 300px;  */
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .frosted-glass {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 90vw;
}

.column {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.diagram-section{
  margin-top: -35px; 
}

.diagram-section .row .column {
  height: 90%;
  flex: 1;
  
  /* background-color: #06bde3; */
}

.diagram-text h1 {
  font-size: 25px;
  flex: 1;
  padding-bottom: 30px;
  color: var(--clr-dark);
}

.diagram-section p {
  font-family: "Libre Franklin", serif;
  font-style: normal;
  font-size: large;
  width: 90%;
  padding: 7px;
  margin-left: -3px;
  flex: 4;
}

.diagram-section p em {
  font-style: normal;
  font-weight: 700;
}

.diagram-section i {
  color: var(--clr-dark);
  font-size: 200px;
}
.diagram {
  height: 50vh;
  width: auto;
}

.hidden {
  opacity: 0;
  filter: blur(20px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* quotes section */

.quotes{
  margin-top: -10px;
  /* background-image: 
  linear-gradient(
    rgba(85, 138, 132, .2),
    rgb(113, 185, 177, .2),
    rgba(85, 138, 132, .2)
  ), 
   linear-gradient(rgba(255,255,255,.5),rgba()),
    url(../images/mountain.png); */

  background-repeat: none;
}

.quote-row {
  justify-content: center;
}

.content-text {
  font-family: var(--font-primary);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  /* padding: 10px; */
  height: 35vh;
  position: relative;
}

.icon-background {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10em;
  transform: translate(-60%, -50%);
  color: var(--clr-teal);
  opacity: 30%;
  z-index: -1;
  font-family: "Font Awesome 5 Free";
}
blockquote {
  font-family: inherit;
  font-size: 1em;
  font-style: italic;
  padding: 0.35em 75px;
  line-height: 1.45;
  color: var(--clr-dark);
  z-index: 99;
  position: relative;
}
.blockquote-em {
  font-family: inherit;
  font-size: 4rem;
  line-height: 1;
  position: relative;
  color: var(--clr-dark);
}
.quote-div:before {
  font-family: var(--font-quotes);
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 200px;
  position: absolute;
  left: -12px;
  top: -30px;
  color: #381c50;
  opacity: 30%;
}
.quote-div:after {
  font-family: var(--font-quotes);
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 200px;
  position: absolute;
  right: -12px;
  bottom: -30px;
  transform: rotate(180deg);
  color: #381c50;
  opacity: 30%;
}
cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
cite:before {
  content: "\2014 \2009";
}

.content-text p {
  font-family: inherit;
  font-style: italic;
  font-size: 1rem;
  padding: 0.35em 75px;
}

.content-text p em {
  font-style: bold;
}

.mission {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--clr-dark); */
  background-color: var(--clr-light);
  height: 15vh;
  background-image: linear-gradient(
    rgba(85, 138, 132, .2),
    rgb(113, 185, 177, .2),
    rgba(85, 138, 132, .2)
  ), 
   linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),
    url(../images/mountain.png);
  background-position: 0%;
}
.mission h1 {
  color: inherit;
  font-size: 2rem;
  z-index: 1000;
}


/* not here yet */
.quality {
  max-height: 200px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06bde3;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  color: var(--clr-light);
  transform: translate(-25%, -10%);
}
.circle h1 {
  width: 80%;
  color: inherit;
}

.circle em {
  font-size: 35px;
}

.hidden:nth-child(1) {
  transition-delay: 0ms;
}
.show:nth-child(2) {
  transition-delay: 100ms;
}

.show:nth-child(3) {
  transition-delay: 300ms;
}

.show:nth-child(4) {
  transition-delay: 400ms;
}
/* .footprint {
  max-height: 400px;
} */

.one {
  flex: 0.75;
}

.two {
  flex: 1;
}

.three {
  flex: 2.5;
  position: relative;
}

.phone {
  display: flex;
  left: 0;
  width: 700px;
  height: 100%;
}

section.vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.vid {
  height: 10000px;
  position: relative;
}

section.vid div.holder {
  position: sticky;
  top: 0;
}

section.vid div.step-heading h1 {
  font-size: 100px;
  color: var(--clr-dark);
}

section.vid div.step-heading p {
  font-size: 25px;
  color: var(--clr-dark);
}

section.vid div.step-heading {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}

/* Style the boxes section */

.boxes-header {
  /* background-color: var(--clr-light); */
  /* background-image: linear-gradient(-90deg, #558a84, #71b9b1, #558a84); */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: center;
  /* filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2)); */
  margin-bottom: 5px;
  margin-top: 15px;
  top: 0;
}

.boxes-header h1 {
  color: var(--clr-dark);
  font-size: 60px;
  text-emphasis: none;
  text-transform: uppercase;
  font-style: normal;
}

@media (max-width: 789px) {
  .hero-img {
    max-height: 1000px;
  }
  .hero-text h1 {
    font-size: 50px;
  }
  .hero-text em {
    font-size: 50px;
  }
  .hero-btn {
    max-width: fit-content;
    font-size: 20px;
  }
  .hero-btn a {
    font-size: inherit;
  }
  .boxes-header h1 {
    font-size: 50px;
  }
}

@media (max-width: 630px) {
  .hero-text h1,
  .hero-text em {
    font-size: 40px;
  }
  .hero-text p {
    font-size: 14px;
  }
  .boxes-header h1 {
    font-size: 40px;
  }
  .hero-btn a {
    font-size: 16px;
  }
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto auto;
  max-width: 1000px;
  max-height: 2000px;
  margin: 0 auto;
  gap: 20px;
}

.box {
  padding: 20px;
  /* border-radius: 5px; */
  margin: 5px;
  height: 300px;
  max-width: 500px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  transition: 1s;
}

.box:hover {
  scale: 110%;
}

.box-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  max-width: 500px;
  overflow: hidden;
}

.box-image img {
  max-height: 100%;
  max-width: 100%;
}

.box h2 {
  margin-top: 0;
  font-family: inherit;
}

.box p {
  margin-top: 15px;
  font-family: inherit;
}

.celeste {
  background-image: linear-gradient(175deg, #95dbd3, #9cfff3);
  flex-basis: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--clr-dark);
}

.celeste h2 {
  color: inherit;
}

.celeste p {
  color: inherit;
}

.teal {
  background-image: linear-gradient(175deg, #71b9b1, #548a83);
  background-blend-mode: screen;
  flex-basis: 30%;
  opacity: 90%;
}

.yellow {
  background-image: linear-gradient(175deg, var(--clr-light), #b8a378);

  flex-basis: 30%;
  position: relative;
}

.yellow h2 {
  color: var(--clr-dark);
}

.yellow p {
  color: var(--clr-dark);
}

.search {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.search input {
  flex-grow: 2;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.button-div {
  display: flex;
  flex-direction: row;
}

@media (max-width: 794px) {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .search input {
    width: 100%;
  }
}

.view-map-btn,
.view-km-btn {
  display: block;
  background-color: var(--clr-var(--clr-teal));
  text-align: center;
  padding: 5px 10px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 14px;
  margin: 5px;
  transition: 0.03s;
}

.view-km-btn:hover,
.view-map-btn:hover {
  scale: 110%;
}

.purple {
  background-image: linear-gradient(175deg, #7b6e86, #695a77);
  flex-basis: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.game-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Geoligica, sans-serif;
  font-size: 20px;
  display: block;
  background-color: var(--clr-teal);
  text-align: center;
  padding: 5px 10px;
  border-radius: 100px;
  text-decoration: none;
  margin: 15px;
  transition: 0.03s;
  color: var(--clr-light);
  transition: 0.3s;
}

.game-btn:hover {
  scale: 105%;
}

/* page styles start here*/

/* spatial explorer*/

.spatial-explorer {
  display: flex;
  margin: 50px;
  height: 100vw;
  border-style: dashed;
  border-width: 1px;
  border-color: var(--clr-dark);
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spatial-explorer p {
  margin: auto;
  margin-top: 150px;
  font-size: 50px;
  color: var(--clr-dark);
}

/*about us*/

.overview-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-image: linear-gradient(var(--clr-light), #bba77c);
  margin: 50px;
  padding: 25px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.overview-div div {
  margin: auto;
}

.video-div {
  position: relative;
  filter: brightness(75%);
  transition: 0.5s;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.video-div:hover {
  filter: brightness(100%);
}

.intro-video {
  width: 100%;
  margin: auto;
  transition: 1s;
  border-radius: 5px;
}

.intro-text {
  padding: 50px 50px 100px 100px;
  font-size: 25px;
  font-weight: 500;
  color: var(--clr-dark);
}

.video-btn {
  position: absolute;
  display: block;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  border-width: 5px;
  padding: 10px;
  border-color: var(--clr-light);
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  max-width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  scale: 120%;
}

.video-btn a {
  text-transform: uppercase !important;
  font-size: 16px;
  text-decoration: none;
  color: var(--clr-light);
}

.graphic {
  margin: 50px;
  height: 100vw;
  border-style: dashed;
  border-width: 1px;
  border-color: var(--clr-dark);
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphic p {
  color: var(--clr-dark);
}

.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-section h2 {
  font-size: xxx-large;
  color: var(--clr-dark);
}

.team-section ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin: 50px;
}

.team-member-card {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  border-style: dashed;
  border-width: 1px;
  height: 100%;
  width: 100%;
  border-color: var(--clr-dark);
}

.team-member-card img {
  width: 50%;
  border-radius: 1000px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.team-member-card p {
  color: var(--clr-dark);
}

/*Contact*/

.contact-section {
  height: 100%;
}

.contact-section ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin: 50px 15%;
}

.contact {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  /*border-style: dashed;*/
  border-width: 1px;
  height: 100%;
  width: 100%;
  /*border-color: var(--clr-dark);*/
  text-transform: capitalize;
  background-image: linear-gradient(#74c7c0, #a0d8d3);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.contact-section i {
  font-size: 100px;
  margin-bottom: 20px;
  color: var(--clr-dark);
}

.contact-section h3 {
  color: var(--clr-dark);
}

.contact-section p {
  color: var(--clr-dark);
}

.bottom-logo {
  display: flex;
  justify-content: center;
  margin: 200px 50px;
}
.bottom-logo img {
  height: 200px;
  width: 100%;
}

@media (max-width: 628px) {
  .boxes {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
  .box {
    margin: auto;
  }
  .glass {
    display: none;
  }
  .space {
    display: none;
  }
}

/* footer */ /* Reset default margin and padding */
footer,
.container {
  margin: 0;
  padding: 0;
}

/* Center align the content */
.footer-container {
  display: flex;
  justify-content: center;
  color: inherit;
}

/* Style the footer sections */
.footer-section {
  max-width: 200px;
  padding: 20px;
  text-align: center;
}

/* Add background color and adjust font styles */
footer {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: Arial, sans-serif;
  font-size: 14px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  position: relative;
}

.copyright {
  position: absolute;
  left: 20px;
  bottom: 5px;
}

/* Style heading elements */
h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--clr-dark);
}

/* Style address paragraph */
p {
  margin-bottom: 10px;
  color: var(--clr-dark);
}

/* Style the contact info list */
ul {
  list-style-type: none;
  padding: 0;
  color: var(--clr-dark);
}

/* Style the contact info list items */
li {
  margin-bottom: 5px;
  color: inherit;
}

/* Style links */
a {
  color: var(--clr-dark);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 628px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    padding-bottom: 40px;
  }
  .logo {
    display: none;
  }
  .logo-small {
    display: block;
  }
  .nav-buttons li a,
  .support-link {
    font-size: 20px;
  }
}
